@{
    ViewData["Title"] = "Index";
    List<Department> departments = Model;
}

<div class="slides">
    <div style="background-image: url(/img/slider/ximg_bg_1.jpg.pagespeed.ic.gttODn5s4U.webp);" class="slide-heading">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center headings animated fadeInUp">
                    <div class="slider-text-inner">
                        <h1>Medicare <strong>Departments</strong></h1>
                        <h2>html5 Bootstrap Templates Made by <a href="">prisma.com</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="appointment">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-2">
                <div class="appointment-area">
                    <h2 class="line-block">Make an appointment</h2>
                    <p class="btn-app">
                        <a href="/html/appointment.html"><span>Book an Appointment<i class="far fa-calendar-alt" aria-hidden="true"></i></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="departments" class="departments">
    <div class="container">
        <div class="row">
            <div class="department-wrap animate-box fadeInUp animated-fast">
                <div class="department-img col-md-6" style="background-image:url(/img/slider/ximg_bg_1.jpg.pagespeed.ic.gttODn5s4U.webp)"></div>
                <div class="department-info col-md-6">
                    <div class="department-name">
                        <h2><a href="departments-single.html">Plastic Surgery Department</a></h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,</p>
                    </div>
                    <div class="department-info-blocks">
                        <div class="info-block">
                            <h2><a href="doctors-single.html">Paul Merriweather</a></h2>
                            <span>Head Department</span>
                        </div>
                        <div class="info-block">
                            <h2><a href="departments-single.html">Department info</a></h2>
                            <span>Block B, 3rd floor</span>
                        </div>
                        <div class="info-block">
                            <h2><a href="doctors.html">Find a Doctor</a></h2>
                            <span>See doctors in this department</span>
                        </div>
                        <div class="info-block">
                            <h2><a href="appointment.html">Request an appointment</a></h2>
                            <span>Call us or fill in a form</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="department-wrap animate-box fadeInUp animated-fast">
                <div class="department-info col-md-6">
                    <div class="department-name">
                        <h2><a href="departments-single.html">Dental department</a></h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,</p>
                    </div>
                    <div class="department-info-blocks">
                        <div class="info-block">
                            <h2><a href="doctors-single.html">Paul Merriweather</a></h2>
                            <span>Head Department</span>
                        </div>
                        <div class="info-block">
                            <h2><a href="departments-single.html">Department info</a></h2>
                            <span>Block B, 3rd floor</span>
                        </div>
                        <div class="info-block">
                            <h2><a href="doctors.html">Find a Doctor</a></h2>
                            <span>See doctors in this department</span>
                        </div>
                        <div class="info-block">
                            <h2><a href="appointment.html">Request an appointment</a></h2>
                            <span>Call us or fill in a form</span>
                        </div>
                    </div>
                </div>
                <div class="department-img col-md-6" style="background-image:url(/img/xblog-2.jpg.pagespeed.ic.QvDsG6uKzt.webp)"></div>
            </div>
            <div class="department-wrap animate-box fadeInUp animated-fast">
                <div class="department-img col-md-6" style="background-image:url(/img/xabout.jpg.pagespeed.ic.Fgk92-nbFh.webp)"></div>
                <div class="department-info col-md-6">
                    <div class="department-name">
                        <h2><a href="departments-single.html">Psychological department</a></h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,</p>
                    </div>
                    <div class="department-info-blocks">
                        <div class="info-block">
                            <h2><a href="doctors-single.html">Paul Merriweather</a></h2>
                            <span>Head Department</span>
                        </div>
                        <div class="info-block">
                            <h2><a href="departments-single.html">Department info</a></h2>
                            <span>Block B, 3rd floor</span>
                        </div>
                        <div class="info-block">
                            <h2><a href="doctors.html">Find a Doctor</a></h2>
                            <span>See doctors in this department</span>
                        </div>
                        <div class="info-block">
                            <h2><a href="appointment.html">Request an appointment</a></h2>
                            <span>Call us or fill in a form</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
