@model Doctor
@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <div class="col-12">
        <h1>@Model.Name</h1>
        <div>
            @Model.Department
        </div>
        <div>
            <a asp-action="Index" class="my-3 btn btn-secondary">Go Back</a>
        </div>
    </div>

</div>