@{
    ViewData["Title"] = "Index";
    List<ContactInfo> contacts = Model;
}

<div class="slides">
    <div style="background-image: url(/img/slider/ximg_bg_1.jpg.pagespeed.ic.gttODn5s4U.webp);" class="slide-heading">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center headings animated fadeInUp">
                    <div class="slider-text-inner">
                        <h1>Medicare <strong>Departments</strong></h1>
                        <h2>html5 Bootstrap Templates Made by <a href="">prisma.com</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="appointment">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-2">
                <div class="appointment-area">
                    <h2 class="line-block">Make an appointment</h2>
                    <p class="btn btn-app">
                        <a href="/html/appointment.html"><span>Book an Appointment<i class="far fa-calendar-alt" aria-hidden="true"></i></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-10 contact-heading col-md-offset-1 animate-box fadeInUp animated-fast">
                <h3>Contact Information</h3>
                <div class="row contact-info-wrap">
                    <div class="col-md-3">
                        <p><span><i class="fas fa-map-marker-alt"></i></span> 198 West 21th Street, <br> Suite 721 New York NY 10016</p>
                    </div>
                    <div class="col-md-3">
                        <p><span><i class="fas fa-phone"></i></span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                    </div>
                    <div class="col-md-3">
                        <p><span><i class="fas fa-envelope"></i></span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                    </div>
                    <div class="col-md-3">
                        <p><span><i class="fas fa-globe"></i></span> <a href="#">yoursite.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-10 contact-heading col-md-offset-1 animate-box fadeInUp animated-fast">
                <h3>Get In Touch</h3>
                <form action="#">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="fname">First Name</label>
                            <input type="text" id="fname" class="form-control mb" placeholder="Your firstname">
                        </div>
                        <div class="col-md-6">
                            <label for="lname">Last Name</label>
                            <input type="text" id="lname" class="form-control" placeholder="Your lastname">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="email">Email</label>
                            <input type="text" id="email" class="form-control" placeholder="Your email address">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="subject">Subject</label>
                            <input type="text" id="subject" class="form-control" placeholder="Your subject of this message">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="message" class="sr-only">Message</label>
                            <!-- <input type="text" class="form-control form-input" id="msg" placeholder="Message"> -->
                            <textarea class="form-control form-input" id="msg" rows="3" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input 
                               
                               ick="sendMail()" type="submit" id="btn-submit" class="btn btn-send-message btn-md"
                               value="Send Message">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>